# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Custom
.dockerdata
# /**/.env*
!/**/.env.*.example

!prisma/schema.prisma
!prisma/index.js
!prisma/seeders
build.sh
deploy_stage.sh
deploy_prod.sh
env.prod
env.stage

deploy_prod.sh
deploy_stage.sh

# Docker